*{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

#navinicio a{
    background-color:#302c4c;
    border-radius: 10%;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 50px;
    display: inline-block;
    
    
}

#barra{
    display: flex;
    margin-top: 15px;
    height: 50px;

}

#imageninicio{
    color: aliceblue;
    
}

#navinicio{
    
    color: aliceblue;
    width: 70%;
    text-align: center;   
}

#registrar{
    color: aliceblue;
    padding-left: 150px;
}

#registrar a{
    display: block;
    padding-top: 3px;
    text-decoration: none;
    color: aliceblue;
    
}

#imageninicio{
    cursor: pointer;
    transition: all 0.3s;
    padding-left: 15px;
    padding-top: 5px;
    margin-left: 20px;
}

#imageninicio img:hover{
    transform: scale(1.1);
}

.bx-down-arrow-alt{
    background-color: #302c4c;
}

#trending{
    height: 200px;
    width: 360px;
    margin-left: 575px;
    margin-top: 160px;
    border-radius: 0px;   
}

#trending p{
    color: aliceblue;
    font-size: 25px; 
    position: relative;
    bottom: 30px;
    left: 5px;
}

.fototext{
    display: flex;
    height: 80px;
}

.info{
    color:aliceblue;
    padding-bottom: 5px;
}

.principalesNoticias{
    height: 200px;
    width: 460px;
    padding-left: 100px;
    margin-top: 160px;
    border-radius: 0px; 
}

.principalesNoticias p{
    color: aliceblue;
    font-size: 25px; 
    position: relative;
    bottom:60px;
    left: 35px;
}

.divpadre{
    height: auto;
    width: 100%;
    display: flex;
}

.textcth{
    color: aliceblue;
    text-align: center;
    font-size: 40px;
}

.divdelosp{
    display: flex;
    width: 100%;
    justify-content: center;
}

.divdelosp p{
    color: aliceblue;
    font-size: 30px;
    padding: 0px 20px;
    margin: 0px;
}


.divdelosp .chico{
   font-weight: 300;
   font-size: 20px; 
}

.compucelu{
    width: 50%;
    margin-left: 300px;
    margin-top: 100px;
}

.compucelu p{
    color: aliceblue;
    margin: 0;
    font-weight: 300;
}

.compucelu .titulop{
    font-weight: 500;
    font-size: 40px;
}

.qr{
    position: relative;
    left: 1050px;
    bottom: 300px;

}

.iconos{
    position: relative;
    left: 1100px;
    bottom: 250px;
    width: 200px;
    padding: 0px 50px;
}

.robot{
    float: right;
    position: relative;
    bottom: 550px;  
    width: 400px;
}


/* criptomonedas css */
/*  */
/*  */

*{
    background-color: rgb(31, 25, 47);
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(31, 25, 47) !important;
}

.btn{
    background-color:#302c4c !important;
}

.buscar{
    color: aliceblue;
    background-color:#302c4c !important;
    margin-top: 150px;
}

.col-12{
    color: aliceblue;
}

.criptos{
    height: 80px;
    background-color:#302c4c !important; 
}

.color{
    background-color: #302c4c;
}

.cripto{
    color: aliceblue !important;
    text-decoration: none;
    outline: none;
    background-color: #302c4c;
}





/* iniciarSesion css */
/*  */
/*  */

.formulario-login{
    margin-top: 150px;
}

.hr-separador{
    margin-top: 100px;
    height: 0px;
    border: 2px solid aliceblue;
}

.derechos{
    color: aliceblue;
    text-align: center;
    font-weight: 300;
}

.derechos2{
    text-align: center;
    color: aliceblue;
    font-weight: 700;
}

.imagenes-redes{
    height: 30px;

}

.navbarr{
    display: grid !important;
    gap: 1rem !important;
    grid-auto-rows: 22rem !important;
    grid-template-columns: repeat(autofill, minmax(15rem, 1fr)) !important;
}